<footer="site-footer">

<div class="wrapper">
	<div id="contact-links">
		<ul>
			<li><a href="https://twitter.com/{{site.twitter_username}}"><img src="/assets/twitter.png" alt="twitter logo" style="width:15px;"></a></li>
			<li><a href="https://www.facebook.com/{{site.facebook_username}}"><img src="/assets/facebook.png" alt="facebook logo" style="width:15px;"></a></li>
			<li><a href="https://nz.linkedin.com/in/{{site.linkedin_username}}"><img src="/assets/linkedin.png" alt="linkedin logo" style="width:15px;"></a></li>
		</ul>
	</div>
</div>

</footer>
